

.Button {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.Button {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px;
   padding: 25px;
   margin: 3px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.1s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .Button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.Button[data-size="2"] {
    height: 40%;
}

.Button[data-value="null"] {
    pointer-events: none;
}

